{% extends 'base.html' %}

{% block content %}
    <div class = "row justify-content-center">
    {% for object in objects%}
        <div class = 'col'>
            <div class="card bg-light mb-3" style="width: 18rem;">
                <div class="card-body text-center">
                    <h3 class = "card-title">{{ object.title }}</h3>
                    <p class = "card-text">Cases:       {{ object.cases }}</p>
                    <p class = "card-text">Deaths:       {{ object.deaths }}</p>
                    <p class = "card-text">Probable Deaths:      {{ object.prob_deaths }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
     </div>
{% endblock %}